# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

Por ejemplo:

1. Puede importar el CSV generado por Python a su computadora portátil y explorarlo.
2. Puede conectarse a su base de datos usando `pandas.read_sql` desde este cuaderno y explorarla.

In [5]:
# Imports
import os
import pandas as pd

from dotenv import load_dotenv
from sqlalchemy import create_engine

In [6]:
# Load env variables
load_dotenv()

True

In [ ]:
# Start connection to database
connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
engine = create_engine(connection_string).execution_options(autocommit=True)
engine.connect()

# dataframe = pd.read_sql("Select * from books;", engine)
# print(dataframe.describe())

In [ ]:
# Create tables
with open('sql/create.sql', 'r') as file:
    sql_commands = file.read()

with engine.connect() as connection:
    connection.execute(sql_commands)

In [ ]:
# Inserts
with open('sql/insert.sql', 'r') as file:
    sql_commands = file.read()

with engine.connect() as connection:
    connection.execute(sql_commands)

In [18]:
database_df = pd.read_sql("SELECT * FROM publishers;", con=engine.raw_connection())
database_df.head()

/tmp/ipykernel_604/2524828382.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  database_df = pd.read_sql("SELECT * FROM publishers;", con=engine.raw_connection())

   publisher_id            name
0             1  O Reilly Media
1             2    A Book Apart
2             3      A K PETERS
3             4  Academic Press
4             5  Addison Wesley